<div style="width:60%; margin:0px auto;">
	<div style="font-size:1.3em; background-color:#FFF; padding:3px;">
		<p style="font-weight: bold; text-decoration: underline;">
			Artí­culo 17: Informes - <a href="/documentos/becas/estaticos/reglamento.pdf" target="_blank">Reglamento de Becas</a>
		</p>
		<p>
			Los Informes de Avance y Finales de todas las categorías de Becas de Iniciación y
			Perfeccionamiento se realizarán teniendo en cuenta los siguientes contenidos:
		</p>
		<ol>
			<li>Grado de avance en la carrera de posgrado que cursa, en el caso de Becarios/as de
				Iniciación y/o de Perfeccionamiento.</li>
			<li>Desarrollo del Plan de Trabajo en no más de cinco (5) páginas. Exposición sintética de la labor desarrollada. Dificultades encontradas.
				<ul>
					<li>Grado de cumplimiento del plan de trabajo.</li>
					<li>Objetivos alcanzados.</li>
					<li>Hipótesis confirmadas o refutadas.</li>
					<li>Métodos y técnicas empleados.</li>
					<li>Ajustes al Plan de Trabajo original cuando corresponda.</li>
					<li>Reslitados obtenidos (trabajos publicados, en prensa, manuscritos en realización, presentaciones a congresos, etc.).</li>
					<li>Cursos realizados, asistencia a reuniones cientí­ficas, talleres, etc.</li>
					<li>Otros datos que juzgue de interés.</li>
				</ul>
			</li>
			<li>Documentación probatoria</li>
			<li>Evaluación del Director
				<ul>
					<li>Evaluación de la labor desarrollada por el Becario/a, incluyendo cursos, seminarios, monografí­as, publicaciones, presentaciones a congresos y toda actividad académica relacionada con el tema de investigación.</li>
					<li>Dificultades encontradas (institucionales, humanas y financieras).</li>
					<li>Concepto general del Becario/a.</li>
					<li>Propuesta para completar y mejorar la formación del Becario/a.</li>
				</ul>
			</li>
		</ol>
	</div>
	<div>[dep id=form_informe_beca]</div>
</div>

