<div style="width:60%; margin:0px auto;">
	<div style="font-size:1.3em; background-color:#FFF; padding:3px;">
		<p style="font-weight: bold; text-decoration: underline;">
			Artí­culo 17: Informes - <a href="/documentos/becas/estaticos/reglamento.pdf" target="_blank">Reglamento de Becas</a>
		</p>
		<p>
			Los Becarios/as de Pregrado deberán presentar ante la Secretaría General de Ciencia y Técnica un Informe de Avance a los seis (6) meses de iniciada la beca. Este informe debe contener una exposición sintética de la labor desarrollada y de las dificultades encontradas.
		</p>
		<p>
			<b>EVALUACIÓN ACADÉMICA DEL DIRECTOR</b>
			<ol>
				<li>Evaluación de la labor desarrollada por el Becario/a, incluyendo cursos, seminarios, monografías, publicaciones, presentaciones a congresos y toda actividad académica relacionada con el tema de investigación.</li>
				<li>Dificultades encontradas (institucionales, humanas y financieras).</li>
				<li>Concepto general del Becario/a.</li>
				<li>Propuesta para completar y mejorar la formación del Becario/a.</li>
			</ol>	
		</p>
		
	</div>
	<div>[dep id=form_informe_beca]</div>
</div>

